<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/tailwind.css">
  </head>
  <body>
    {{ content }}
  </body>
</html>